.input-error, .form-error {
    color: $danger-color;
    font-size: 1rem;
    line-height: 100%;
    margin-top: 0.3em;

    @media (max-width: 767px) {
        font-size: 0.85rem;
    }

    @media (max-width: 575px) {
        font-size: 0.75rem;
    }
}

.form-error {
    margin-top: 0.5em;
}