$text-color: #060606;
$substr-color: #f8f8f8;

$main-title-color: #fff;
$danger-color: #EB5757;

$boreder-color: #dadada;
$input-border-color: #B4B4B4;
$input-focus-color: #999797;
$btn-color: #a9a9a9;